RFCの内容を理解する

![image](https://github.com/yuidvg/webserv/assets/86033765/f031cf5d-62d6-4a19-a6ee-13c048efde03)


**原文&日本語訳**
[RFC 9110 - HTTP Semantics](https://datatracker.ietf.org/doc/html/rfc9111)

[RFC 9111 - HTTP Caching (RFC 9111)](https://datatracker.ietf.org/doc/html/rfc9111)

[RFC 9112 - HTTP/1.1 (RFC 9112)](https://datatracker.ietf.org/doc/html/rfc9112)

![image](https://github.com/yuidvg/webserv/assets/86033765/9d17cb60-9b55-4831-99d1-395d7bae5f36)
